<template>
  <div>
    <Header title="Корзина" />
    <b-modal
      id="order-details"
      size="lg"
      centered
      hide-footer
      hide-header
      class="modal-confrim"
    >
      <b-form
        id="form"
        @submit.prevent="acceptOrder"
      >
        <b-row class="pl-3">
          <h4 class="text-center" style="font-size: 18px;">Пожалуйста, заполните данные чтобы заказать</h4>
        </b-row>
        <b-form-group
          id="buyer-address"
          label="Ваш адрес"
          label-for="buyer-address"
        >
          <b-input
            v-model="form.address"
            class="w-100"
            :class="{ 'is-invalid':$v.form.address.$error, 'is-valid': !$v.form.address.$invalid }" 
          >
          </b-input>
          <b-form-invalid-feedback id="input-phone">
            <span v-if="!$v.form.address.required && $v.$dirty">Данное поле обязательно</span>
          </b-form-invalid-feedback>
        </b-form-group>
        <b-button 
          class="modal-button mt-3 w-100 btn btn-custom-y"
          block
          type="submit"
        >
          Подтвердить
        </b-button>
      </b-form>
    </b-modal>
    <transition name="fade">
      <b-container
        class="d-flex flex-column justify-content-center align-items-center"
        style="padding-bottom: 100px; margin-top: 80px"
      >
        <b-col cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="details-item py-2 px-2" v-for="(item, index) in cart" :key="index">
            <b-row>
              <h4>{{ item.article }}</h4>
            </b-row>
            <b-row class="mb-2">
              <p class="mb-0">{{ item.name }}, <span class="mb-0" style="font-weight: bold;">({{ item.brandname }})</span></p>
            </b-row>
            <b-row>
              <b-col class="col-5">
                <b-img class="cart-item__photo" :src="item.photo"></b-img>
              </b-col>
              <b-col class="d-flex flex-column justify-content-center col-7">
                <b-row>
                  <p class="mb-0" style="font-weight: bold;">Цена: <span style="font-weight: normal;">{{ numberWithCommas(item.detailtotalcost) }} тг</span></p>
                </b-row>
                <b-row>
                  <p class="mb-0" style="font-weight: bold;">Количество: <span style="font-weight: normal;">{{ item.amount }} шт</span></p>
                </b-row>
              </b-col>
            </b-row>
          </div>
        </b-col>
        <div class="button-wrapper">
          <b-button @click="orderSend" class="w-100 btn btn-custom-y" style="height: 60px">
            Заказать
          </b-button>
        </div>
      </b-container>
    </transition>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators"
import Header from "./Header"
import axios from "axios"
export default {
  name: 'Cart',
  components: {
    Header
  },
  data() {
    return {
      cart: [],
      form: {
        address: '',
      }
    }
  },
  validations: {
    form: {
      address: {
        required
      },
    }
  },
  mounted() {
    let params = new URLSearchParams()
    let config = {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }
    params.append("userid", localStorage.getItem("userid"))
    axios.post("https://api.toyo.kz/busket/show", params, config)
      .then(res => {
        console.log(res);
        this.cart = res.data
        let totalcost = 0;
        for (let i = 0; i < res.data.length; i++) {
          totalcost += res.data[i].detailtotalcost
        }
        localStorage.setItem("totalPrice", totalcost)
      })
      .catch(err => {
        console.log(err);
      })
  },
  methods: {
    numberWithCommas: function(x) {
      var parts = x.toString().split(" ");
      parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g," ");
      return parts.join(",");
    },
    orderSend() {
      this.$bvModal.show('order-details')
    },
    acceptOrder() {
      let params = new URLSearchParams();
      let config = {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      }
      params.append("userid", localStorage.getItem("userid"))
      params.append("address", this.form.address)
      axios.post("https://api.toyo.kz/busket/buy", params, config)
        .then(res => {
          console.log(res);
          this.$router.push('/pay')
        })
        .catch(err => {
          console.log(err);
        })
    }
  }
}
</script>

<style lang="scss">
.details-item {
  background: #e7e7e7;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 10px;
  .detail-img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.cart-item__photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0 10px;
}
.btn-custom {
  color: #fff;
  background-color: #0D335D;
  border-color: #0D335D;
}

.btn-custom-y {
  background-color: #ffde59;
  margin: 1em 0 0;
  color: black;
  border-color: #ffde59;
}
</style>