<template>
  <div>
    <b-navbar class="navbar mb-2 header navbar-dark navbar-expand" type="dark"> <!--variant="primary" class="mb-2 header" type="dark"-->
      <div class="logo-div" @click="toHome">
        <img class="logo" src="@/assets/toyo_white.png" alt="logo">
        <p class="mb-0 logo-title">{{ title}}</p>
      </div>
      <!-- Toyokz | автозапчасти по низкой цене -->
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: ["title"],
  methods: {
    toHome() {
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss">
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgb(13,51,93);
}

.logo-div {
  display: flex;
  align-items: center;
  padding: 0 0.9em;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-title {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
</style>