<template>
  <div>
    <Header title="Toyokz | Aвтозапчасти по низкой цене" />
    <div>
      <transition name="fade">
        <b-container
          class="d-flex justify-content-center align-items-start mt-5 pt-5"
          style="width: 100%!important;"
        >
          <Modal />
          <Loading :is_loading="is_loading" />
          <b-col>
            <b-card
              :title="isVin ? 'Напишите vin код автомобиля' : 'Напишите номер автомобиля'"
              class="px-xl-5 px-lg-5 px-md-5 px-xl-2 py-1"
            >
              <b-form
                v-if="!isVin"
                id="form"
                @submit.prevent="sendAutoNumber"
              >
                <b-row>
                  <b-col cols=12 class="col-12">
                    <b-form-group
                      id="input-group-carnumber"
                      label=""
                      label-for="carnumber"
                    >
                      <div class="nuzhen-otstup"></div>
                      <b-form-input
                          id="carnumber"
                          type="text"
                          v-model="form.carnumber"
                          placeholder="123ABC02"
                          aria-describedby="input-carnumber"
                          :class="{ 'is-invalid':$v.form.carnumber.$error, 'is-valid': !$v.form.carnumber.$invalid }"
                        >
                        </b-form-input>
                      <div class="nuzhen-otstup"></div>
                      <span>Vin код найдем мы сами <br> </span>
                        <b-form-invalid-feedback id="input-carnumber">
                          <span v-if="!$v.form.carnumber.required && $v.form.carnumber.$dirty">Данное поле обязательно</span>
                          <span v-if="!$v.form.carnumber.numberCar && $v.form.carnumber.$dirty">Введите корректный номер машины</span>
                        </b-form-invalid-feedback>
                        <span v-if="carError" style="font-size: 12px; color: red;">Введите корректный номер машины</span>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols=12 class="col-12">
                    <b-button
                      type="submit"
                      class="mt-2 py-2 w-100 btn"
                      :class="[form.carnumber != '' ? 'btn-custom' : '']"
                    >
                      Найти
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
              <b-form 
                v-if="isVin"
                id="form"
                @submit.prevent="sendVinCode"
              >
                <b-row>
                  <b-col cols=12 class="col-12">
                    <b-form-group
                      id="input-group-carvin"
                      label="Укажите vin code вашего авто"
                      label-for="carvin"
                    >
                      <b-form-input
                          id="carnvin"
                          type="text"
                          v-model="form.carvin"
                          placeholder="SALLPAMJ4TA333333"
                          aria-describedby="input-carvin"
                          :class="{ 'is-invalid':$v.form.carvin.$error, 'is-valid': !$v.form.carvin.$invalid }"
                        >
                        </b-form-input>
                        <b-form-invalid-feedback id="input-carvin">
                          <span v-if="!$v.form.carvin.required && $v.form.carvin.$dirty">Данное поле обязательно</span>
                          <span v-if="!$v.form.carvin.maxLength && $v.form.carvin.$dirty">Введите корректный vin code машины</span>
                          <span v-if="!$v.form.carvin.minLength && $v.form.carvin.$dirty">Введите корректный vin code машины</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols=12 class="col-12">
                    <b-button
                      type="submit"
                      class="mt-2 py-2 w-100 btn"
                      :class="[form.carvin != '' ? 'btn-custom' : '']"
                    >
                      Отправить
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </b-card>
          </b-col>
        </b-container>
      </transition>
    </div>
  </div>
</template>

<script>
import Header from "./Header"
import Modal from "./Modal"
import Loading from "./Loading"
import MaskedInput from 'vue-masked-input'
import axios from "axios"
import { required, maxLength, minLength, helpers } from "vuelidate/lib/validators"
const numberCar = helpers.regex('numberCar', /[0-9][0-9][0-9][a-zA-Z][a-zA-Z][a-zA-Z][0-9][0-9]|[a-zA-Z][0-9][0-9][0-9][a-zA-Z][a-zA-Z]|[a-zA-Z][0-9][0-9][0-9][a-zA-Z][a-zA-Z][a-zA-Z]|[0-9][0-9][0-9][a-zA-Z][a-zA-Z][0-9][0-9]/);
export default {
  name: 'Home',
  components: {
    Modal,
    Loading,
    Header,
    MaskedInput
  },
  data() {
    return {
      isVin: false,
      is_loading: false,
      carError: false,
      form: {
        carnumber: '',
        carvin: ''
      }
    }
  },
  validations: {
    form: {
      carnumber: {
        required,
        numberCar
      },
      carvin: {
        required,
        maxLength: maxLength(17),
        minLength: minLength(17)
      }
    }
  },
  methods: {
    sendAutoNumber: function() {
      this.is_loading = true;
      if (!this.isVin) {
        this.$v.form.carnumber.$touch()
      }
      if (this.$v.form.carnumber.$error) {
        console.log("Error");
        this.is_loading = false;
      } else {
        let params = new URLSearchParams()
        const config = {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Access-Control-Allow-Origin': '*'
          }
        }
        params.append('gosn', this.form.carnumber)
        axios.post('https://api.toyo.kz/get/vin', params, config)
          .then(res => {
            if (res.data.vin == 'err' || res.data.autoinfo == 'no' || res.data.autoinfo.vin == '-') {
              localStorage.setItem('request_id', res.data.request_id)
              this.is_loading = false;
              this.$bvModal.show('carnumber-not-defined')
            } else {
              console.log(res.data);
              this.is_loading = false;
              localStorage.setItem('vincode', res.data.autoinfo.vin)
              localStorage.setItem('mark', res.data.autoinfo.mark)
              localStorage.setItem('model', res.data.autoinfo.model)
              localStorage.setItem('year', res.data.autoinfo.year)
              localStorage.setItem('request_id', res.data.request_id)
              this.$router.push('/phone')
            }
            console.log(res.data);
          })
          .catch(err => {
            this.is_loading = false;
            this.carError = true;
            console.log(err);
          })
          setTimeout(() => {
            this.$bvModal.show('carnumber-not-defined')
          }, 7000)
          setTimeout(() => {
            this.is_loading = false;
            this.$bvModal.hide('carnumber-not-defined')
            this.isVin = true;
          }, 9000)
      }
    },
    sendVinCode: function() {
      if (this.isVin) {
        this.$v.form.carvin.$touch()
      }
      if (this.$v.form.carvin.$error) {
        console.log("error");
        this.is_loading = false;
      } else {
        localStorage.setItem('vincode', this.form.carvin)
        this.$router.push('/phone')
        // let params = new URLSearchParams()
        // const config = {
        //   headers: {
        //     'Content-Type': 'application/x-www-form-urlencoded'
        //   }
        // }
        // params.append('car_num', this.form.carvin)
        // axios.post('https://api.toyo.kz/get/vin', params, config)
        //   .then(res => {
        //     console.log(res.data);
        //     if (res.data.status == 'error') {
        //       this.isVin = true;
        //     } else {
        //       localStorage.setItem('vincode', res.data.vin)
        //       this.$router.push('/phone')
        //     }
        //     console.log(res.data);
        //   })
        //   .catch(err => {
        //     console.log(err);
        //   })
      }
    }
  }
}
</script>

<style lang="scss">
.nuzhen-otstup {
  height: 1em;
}
.card-title {
  font-size: 2.4em;
}
.btn-custom {
  background-color: #0d335d!important;
  border-color: #0d335d;
}
</style>