<template>
  <div>
    <Header title="Toyokz | Aвтозапчасти по низкой цене" />
    <transition name="fade">
      <b-container
        class="d-flex justify-content-center align-items-center"
        style="padding-bottom: 100px; margin-top: 80px;"
      >
        <b-col v-if="items.length == 0" cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <h4 class="text-center no-in-stock">Товара нет в наличии</h4>
          <button @click="goback" class="go-to-back">
            Назад
          </button>
        </b-col>
        <b-col v-else cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <b-table
            hover 
            :items="items" 
            :fields="fields"
            selectable
            :select-mode="selectMode"
            @row-selected="onRowSelected"
          >
            
          </b-table>
        </b-col>
        <!-- <div class="button-wrapper">
          <b-button variant="primary" @click="getPrices" class="w-100" style="height: 60px">
            Выбрать
          </b-button>
        </div> -->
      </b-container>
    </transition>
  </div>
</template>

<script>
import Header from "./Header"
import Loading from "./Loading"
// import axios from "axios";
export default {
  name: "ListDetailsOEM",
  components: {
    Loading,
    Header
  },
  data() {
    return {
      selectMode: 'single',
      fields: [
        {
          key: "OEM",
          label: "Код",
        },
        {
          key: "Name",
          label: "Наименование"
        }
      ],
      items: [],
      selected: []
    }
  },
  mounted() {
    this.items = this.$store.getters.getOem;
    console.log(this.items);
  },
  methods: {
    onRowSelected(items) {
      // if (this.selected.length != 0) {
        localStorage.setItem("OEM", items[0].OEM)
        this.$router.push('/prices')
      // }
      // this.selected = items[0].OEM
    },
    goback() {
      this.$router.push('/list-details')
    }
    // getPrices() {
    //   if (this.selected.length != 0) {
    //     localStorage.setItem("OEM", this.selected)
    //     this.$router.push('/prices')
    //   } else {
    //     alert('Выберите деталь')
    //   }
    // }
  },
}
</script>

<style lang="scss">
.button-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0 10px;
}

.no-in-stock {
  font-size: 3em;
  margin: 4em 0 1.5em;
}
.go-to-back {
  margin: auto;
  display: block;
  background-color: rgb(13,51,93);
  color: white;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
}
</style>