<template>
  <div>
    <Header title="Toyokz | Aвтозапчасти по низкой цене" />
    <Loading :is_loading="is_loading" />
    <transition name="fade">
      <b-container
        class="d-flex justify-content-center align-items-center"
        style="padding-bottom: 100px; margin-top: 80px;"
      >
        <b-col cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <b-row>
            <p class="mb-0">Какую запчасть ищем?</p>
          </b-row>
          <b-row>
            <b-col cols=12 class="col-12">
              <b-form-group
                id="input-search"
                label-for="input-search"
              >
                <b-form-input
                    id="input-search"
                    type="text"
                    placeholder="Например: колодки"
                    v-model="filter"
                    aria-describedby="input-search"
                  >
                  </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>


          <!-- <b-tree-view 
            class="mt-3 b-tree" 
            :data="detailsArray" 
            nodeKeyProp="quickgroupid" 
            nodeChildrenProp="childGroups"
          ></b-tree-view> -->

          <div class="b-tree-detail" v-for="(item, index) in filteredList" :key="index">
            {{ item.name }} /
            <div v-for="(item2, index2) in item.childGroups" :key="index2">
              <!-- <div v-if="item2.name"> -->
                {{ item2.name }}
                <Tree class="b-tree-searched" :data="item2.childGroups" />
              <!-- </div> -->
            </div>
          </div>

        <LiquorTree
          v-if="detailsArray.length"
          :data="detailsArray"
          :options="opts"
          :filter="filter"
          @node:selected="onNodeSelected"
        />

        </b-col>
        <!-- <div class="button-wrapper">
          <b-button variant="primary" class="w-100" @click="toOEMDetails" style="height: 60px">
            Выбрать
          </b-button>
        </div> -->
      </b-container>
    </transition>
  </div>
</template>

<script>
import Header from "./Header"
import Loading from "./Loading"
import Tree from "./Tree"
import { bTreeView } from 'bootstrap-vue-treeview'
import axios  from "axios";
import LiquorTree from 'liquor-tree'

export default {
  name: 'ListDetails',
  components: {
    bTreeView,
    Tree,
    Header,
    LiquorTree,
    Loading
  },
  data() {
    return {
      is_loading: false,
      renderComponent: true,
      ddd: null,
      search: '',
      detailsArray: [],
      filteredList: [],
      filter: '',
      opts: {
        parentSelect: false,
        filter: {
          emptyText: 'К сожалению, ничего не найдено',
          matcher(query, node) {
            // console.log(node);
            return node.data.text.toLowerCase().includes(query.toLowerCase()) 
            || node.data.sin.toLowerCase().includes(query.toLowerCase()) 
            || node.data.contains.toLowerCase().includes(query.toLowerCase())
          },
        },
        // propertyNames: {idd: "quickgroupid", text: 'name', children: 'childGroups'},
      },
      selected: null
    }
  },
  // computed: {
  //   filteredList() {
  //     let a = []
  //     this.detailsArray.filter(post => {
  //       let aa = this.searchTree(post, this.search)
  //       if (aa != null){
  //         a.push(aa)
  //       }
  //     })
  //     console.log(a);
  //     return a
  //   },
  // },
  methods: {
    searchTree(element, matchingTitle){
      // if(element.name.toLowerCase().includes(matchingTitle.toLowerCase()) || element.synonyms.toLowerCase().includes(matchingTitle.toLowerCase())){
      if (element.name === matchingTitle){
        return element;
      } else if (element.childGroups != null){
        var result = null;
        for(let i = 0; result == null && i < element.childGroups.length; i++){
          result = this.searchTree(element.childGroups[i], matchingTitle);
        }
        return result
      }
      return null      
    },
    // toOEMDetails() {
      
    // },
    onNodeSelected(node) {
      if (node.children.length == 0) {
        this.is_loading = true
        let params = new URLSearchParams()
        const config = {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        
        params.append("search_id", node.data.id)
        params.append("request_id", localStorage.getItem("request_id"))
        params.append("vin", localStorage.getItem("vincode"))
        localStorage.setItem("search_id", node.data.id)
        axios.post("https://api.toyo.kz/get/oems", params, config)
        .then (res => {
          for (let i = 0; i < res.data.length; i++) {
            let params2 = new URLSearchParams()
            params2.append("oemdetail", res.data[i].OEM)
            axios.post("https://api.toyo.kz/get/check", params2, config)
            .then(res2 => {
              // console.log(res2.data);
              if (res2.data == "" || res2.data == []) {
                console.log(res2.data);
                // console.log(res2.data);
                // this.$store.commit('ADD_OEM', res.data[i])
              } else {
                this.$store.commit('ADD_OEM', res.data[i])
              }
            })
          }
          setTimeout(() => {
            this.is_loading = false;
            this.$router.push('/oem')
          }, 1000)
        })
      } else {
        console.log("Yeap");
      }
    }
  },
  mounted() {
    let params = new URLSearchParams()
    params.append('vin', localStorage.getItem("vincode"))
    params.append('request_id', localStorage.getItem("request_id"))
    params.append('userid', localStorage.getItem("userid"))
    let config = {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }
    function parseData(element){
        let aa = {'text': element.name, 'data': {'sin': element.synonyms, 'id': element.quickgroupid, 'contains': element.contains }, 'children': []}
        if (element.childGroups.length){
          for (let k of element.childGroups){
            let aaa = parseData(k)
            aa.children.push(aaa)
          }
        }
        return aa
    }
    axios.post('https://api.toyo.kz/get/tree', params, config)
      .then(res => {
        this.is_loading = false
        let a = []
        for (let i of res.data.childGroups){
          a.push(parseData(i))
        }
        console.log(a);
        this.detailsArray = a
      })
    
  }
}
</script>


<style lang="scss">
.button-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0 10px;
}
.b-tree-detail {
  display: flex;
  position: relative;
}
</style>