<template>
  <div v-if="is_loading" class="loading">
    <div class="d-flex flex-column align-items-center text-center">
      <img src="@/assets/toyo.png" alt="">
      <p class="font-weight-bold"> <br> Toyokz <br> <br> Автозапчасти по низкой цене</p>
      <b-spinner type="grow" style="width: 3rem; height: 3rem;" variant="primary" class="croog"></b-spinner>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loading',
  props: ['is_loading']
}
</script>

<style lang="scss">
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #fff, $alpha: 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  img {
    width: 100px!important;
    height: 100px!important;
    margin-bottom: 10px;
  }
  p {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.croog {
  background-color: rgb(3,75,183);
}
</style>