<template>
    <div class="container">
        <header>
            <img src="@/assets/toyo.png" alt="logo" class="logogo">
            <p>Крупнейший склад запчастей в Алматы</p>
            <p>call-центр: <a href="tel:+77076531616">+ 7 (707) 653-16-16</a></p>
        </header>
        <section class="first-gaze">
            <h1>Не трать баланс. Весь CarCity здесь.</h1>
            <img src="@/assets/camry.jpg" alt="car img" class="container-md">
            <ul class="bruh">
                <li>Доставка по алматы за 1 час.</li>
                <li>Рассрочка. Кредит.</li>
                <li>Более 200 000 запчастей всегда в наличии.</li>
                <li>ВИН КОД НЕ НУЖЕН.</li>
            </ul>
            <button @click="order" class="order">ВСЕ ПОНЯТНО. ХОЧУ ЗАКАЗАТЬ</button>
            <a href="#anchor1" class="sus">Поищу еще подвох</a>
        </section>
        <section class="questions">
            <div id="anchor1" class="anchor"></div>
            <h3>Часто задаваемые вопросы</h3>
            <h4>Почему у вас дешевле?</h4>
            <p>
                Мы закупаем крупным оптом, так обслуживаем более 700 заказов каждый день. Крупный оптом позволяет получать нам самые лучшие цены от всех поставщиков.
            </p>
            <h4>Ну прям за 1 час доставите?</h4>
            <p>
                Мы - Glovo в автозапчастях. Бургер за 30 минут реально? Поверьте, автозапчасти тоже. Проверьте прямо сейчас.
            </p>
            <h4>Я на СТО. Можете доставить сразу туда?</h4>
            <p>
                Конечно можем! Как пожелает Ваше Величество, дорогой наш клиент)
            </p>
            <h4>Как оплачивать?</h4>
            <p>
                Вы можете оплатить через Kaspi QR или Kaspi платежем. Все официально. Все чеки останутся у Вас в Kaspi Приложении.
                Кстати, при оплате QR Вы можете выбрать оплату в кредит или рассрочку.
            </p>
            <button @click="order" class="order">я слишком долго читал<br>дайте уже купить</button>
            <a href="#anchor2" class="sus">Не, я точно найду подвох</a>
            <div id="anchor2" class="anchor"></div>
            <h4>А какие гарантии?</h4>
            <p>
                Мы даем гарантию на наши запчасти - 30 дней, при условии, что они будут установлены на нашем сервисном центре. В остальных случаях все стандартно - 14 дней по закону Республики Казахстан.
            </p>
            <h4>Сколько времени нужно чтобы заказать?</h4>
            <p>
                60 секунд. Не верите? Засекайте.
            </p>
            <h4>Можно заказать просто по телефону?</h4>
            <p>
                Конечно! Наш call-центр: <a href="tel:+77076531616">+ 7 (707) 653-16-16.</a>.
            </p>
            <p>
                Но заказ будет дороже на 5%. Выгоднее заказать самому, тем более это как заказать бургер в Glovo или Wolt.
            </p>
            <h4>Опять VIN-код будете просить?</h4>
            <p>
                Нет :) Вам нужно будет ввести только гос.номер Вашего авто, а VIN-код мы найдем самостоятельно из базы данных РК.
            </p>
            <button @click="order" class="order">теперь точно покупаю!</button>
        </section>
    </div>
</template>

<script>
export default {
    name: "Main",
    methods: {
        order() {
            this.$router.push('/vin')
        }
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
header p {
    margin: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: -0.02em;
}
a{
    text-decoration: none;
}
.logogo {
    width: 15%;
    margin: auto;
    display: block;
    margin-top: 1.3em;
}
.first-gaze {
    padding: 3em 3em 0;
}
.first-gaze h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-family: 'Oswald', sans-serif;
}
.first-gaze img {
    width: 100%;
    margin: 1em auto 0;
}
.first-gaze ul {
    list-style: disc;
    margin: 1em auto;
    font-family: 'Cuprum', sans-serif;
}
.first-gaze ul li {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 0.3em 0;
}
.first-gaze ul li:last-child {
    font-weight: 700;
}
.order {
    color: black;
    text-decoration: none;
    margin: 0 auto 0.3em;
    padding: 0.4em 1em;
    font-size: 1.1em;
    border: none;
    font-weight: 700;
    background-color: #ffde59;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.sus {
    font-size: 1.1em;
    color: #0D335D;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 6em;
    font-family: 'Cuprum', sans-serif;
}

.anchor {
    margin-top: -3em;
    margin-bottom: 9em;
}

.questions {
    margin: 1em 1em 5em;
}
.questions h3 {
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.questions h4 {
    color: white;
    background-color: #0D335D;
    margin: 1em 0;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
}
.questions p {
    margin: 0.3em 0;
    font-weight: 700;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}
footer {
    text-align: center;
}
footer small {
    font-size: 0.8em;
}
@media (min-width: 576px) {
    .bruh {
        position: relative;
        left: 50%;
        transform: translate(-40%, 0);
        font-size: 1em;
    }
}
@media (min-width: 768px) {
    .bruh {
        position: relative;
        left: 50%;
        transform: translate(-25%, 0);
        font-size: 1em;
    }
}
@media (min-width: 992px) {
    .bruh {
        position: relative;
        left: 50%;
        transform: translate(-27%, 0);
        font-size: 1.3em;
    }
}
@media (min-width: 1200px) {
    .bruh {
        position: relative;
        left: 50%;
        transform: translate(-30%, 0);
        font-size: 1.7em;
    }
}
</style>
