<template>
  <div>
    <b-modal
      id="carnumber-not-defined"
      size="lg"
      scrollable
      centered
      hide-footer
      hide-header
      class="modal-confrim"
    >
      <div class="no-auction">
        <h4 class="text-center">К сожалению, данные вашего автомобиля не найдены, напишите пожалуйста vin-code автомобиля:</h4>
      </div>
    </b-modal>

    <b-modal
      id="add-amount"
      size="lg"
      centered
      hide-footer
      hide-header
      class="modal-confrim"
    >
      <div class="add-amounte">
        <h4>Укажите количество</h4>
        <b-input type="number" class="w-100"></b-input>
        <div class="d-flex justify-content-between mt-2 count-buttons">
          <b-button class="w-100" style="margin-right: 10px;" @click="amountUp" variant="primary">
            +
          </b-button>
          <b-button class="w-100" @click="amountDown" variant="primary">
            -
          </b-button>
        </div>
        <b-button @click="addBusket" class="mt-2 w-100" variant="success">
          Добавить в корзину
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Prices",
  data() {
    return {

    }
  },
  methods: {
    amountUp() {
      
    },
    amountDown() {
      
    },
    addBusket() {

    }
  }
}
</script>

<style lang="scss">
.modal-confrim {
  z-index: 9999!important;
  position: relative;
}
</style>