<template>
  <div>
    <Header title="Toyokz | автозапчасти по низкой цене" />
    <transition name="fade">
      <b-container
        class="d-flex justify-content-center align-items-center"
        style="margin-top: 80px"
      >
        <b-col cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <b-row class="text-center">
            <h4 class="text-success">Ваш заказ №{{  request_id  }} принят.</h4> 
          </b-row>
          <b-row class="text-center">
          <p>
            Чтобы оплатить данный заказ, <br> нажмите кнопку <br> <b>"Оплатить Kaspi.kz"</b>,
          </p>
          </b-row>
          <b-row class="text-center mt-3">
            <p class="mb-0">Спасибо что воспользовались сервисом</p>
            <h4><b>Toyo.kz</b></h4>
          </b-row>
        </b-col>
        <div class="button-wrapper">
          <b-button @click="removeLocal" :href="'https://kaspi.kz/pay/TOYOKZ?service_id=3784&5589=' + request_id + '&amount=' + totalPrice" class="py-3 w-100 btn btn-custom-y">
            Оплатить Kaspi.kz
          </b-button>
        </div>
      </b-container>
    </transition>
  </div>
</template>

<script>
import Header from "./Header"
export default {
  name: 'Pay',
  components: {
    Header
  },
  data() {
    return {
      request_id: localStorage.getItem("request_id"),
      totalPrice: localStorage.getItem("totalPrice")
    }
  },
  methods: {
    removeLocal() {
      localStorage.clear();
    }
  }
}
</script>

<style lang="scss">
.button-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0 10px;
}
.btn-custom-y {
  background-color: #ffde59;
  margin: 1em 0 0;
  color: black;
  border-color: #ffde59;
}
</style>