<template>
  <div>
    <Header title="Toyokz | Aвтозапчасти по низкой цене" />
    <transition name="fade">
      <b-container
        class="justify-content-center align-items-center mt-5 pt-3"
      >
        <b-card
          class="w-100 my-2 s-data"
        >
        <h2>Ваше авто</h2>
          <table class="">
            <tr v-for="(item, index) in infoArray" :key="index">
              <td>{{ item.title }}:</td>
              <td>{{ item.value }}</td>
            </tr>
            <tr>
              <td></td>
              <td><a href="">Не верно?</a></td>
            </tr>
          </table>
        </b-card>
        <Loading :is_loading="is_loading" />
        <b-card
          title="Напишите номер телефона"
          class="px-xl-5 px-lg-5 px-md-5 px-xl-2 py-1"
        >
          <b-form
            id="form"
            @submit.prevent="sendPhone"
          >
            <b-row>
              <b-col cols=12 class="col-12">
                <b-form-group
                  id="input-group-phone"
                  label-for="phone"
                >
                  <masked-input 
                    class="phone-input" 
                    v-model="form.phone" 
                    mask="\+\7 (111) 111-11-11" 
                    placeholder="+7 (___) ___-__-__"
                    :class="{ 'is-invalid':$v.form.phone.$error, 'is-valid': !$v.form.phone.$invalid }" 
                  />
                  
                      <div class="nuzhen-otstup"></div>
                      <span> <b>Для чего нам нужен Ваш номер?</b> <br>Номер будет передан курьеру который доставит Вам товар. </span>
                  <b-form-invalid-feedback id="input-phone">
                    <span v-if="!$v.form.phone.required && $v.form.phone.$dirty">Данное поле обязательно</span>
                    <span v-if="!$v.form.phone.maxLength && $v.form.phone.$dirty">Введите корректный номер телефона</span>
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols=12 class="col-12">
                <b-button
                  type="submit"
                  class="mt-2 py-2 w-100 btn"
                  :class="[form.phone != '' ? 'btn-custom' : '']"
                >
                  Отправить
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-container>
    </transition>
  </div>
</template>

<script>
import Loading from "./Loading"
import Header from "./Header"
import MaskedInput from 'vue-masked-input'
import axios from "axios"
import { required, minLength, maxLength } from "vuelidate/lib/validators"
export default {
  name: 'Phone',
  components: {
    MaskedInput,
    Loading,
    Header
  },
  data() {
    return {
      infoArray: [
        { title: 'VIN', value: localStorage.getItem('vincode') },
        { title: 'Марка', value: localStorage.getItem('mark') },
        { title: 'Модель', value: localStorage.getItem('model') },
        { title: 'Год', value: localStorage.getItem('year') }
      ],
      is_loading: false,
      form: {
        phone: ''
      }
    }
  },
  validations: {
    form: {
      phone: {
        required,
        // maxLength: maxLength(11),
        // minLength: minLength(11)
      }
    }
  },
  methods: {
    sendPhone: function() {
      const regEx = /[^+\d]/g
      this.is_loading = true;
      let phoneSend = this.form.phone.replace(regEx, '').slice(1, this.form.phone.replace(regEx, '').length)
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log("Error");
      } else {
        let params = new URLSearchParams()
        const config = {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Access-Control-Allow-Origin': '*'
          }
        }
        params.append('contact', phoneSend)
        params.append('request_id', localStorage.getItem("request_id"))
        axios.post("https://api.toyo.kz/user/savecontact", params, config)
          .then(res => {
            console.log(phoneSend);
            console.log(res);
            this.is_loading = false;
            localStorage.setItem("userid", res.data.userid)
            this.$router.push('/list-details')
          })
          .catch(err => {
            console.log(err);
          })
      }
      console.log("Send Phone");
    }
  }
}
</script>


<style lang="scss">
  .phone-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  ::-webkit-input-placeholder { /* Chrome */
  color: black;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
  }
.nuzhen-otstup {
  height: 1em;
}
.btn-custom {
  background-color: #0d335d!important;
  border-color: #0d335d;
}
.s-titl {
  font-size: 2em;
}
.s-data table {
  width: 100%;
}
.s-data table tr td:last-child {
  font-weight: bold;
  text-align: right;
  font-size: 1.4em;
}
.s-data table tr:last-child td:last-child {
  text-align: right;
  font-size: 1em;
  padding-top: 1em;
  color: #0d335d;
}
.s-data table tr:last-child td:last-child a{
  color: rgb(74, 186, 242);
  text-decoration: none;
    border-bottom: 2px dashed rgb(74, 186, 242);
}
</style>