<template>
  <div>
    <Header title="Toyokz | Aвтозапчасти по низкой цене" />
    <transition name="fade">
      <b-container
        class="d-flex justify-content-center align-items-center"
        style="padding-bottom: 100px; margin-top: 80px;"
      >
        <Loading :is_loading="is_loading" />
        <div class="cart" @click="toBusket">
          <div class="wrapper">
            <b-icon style="width: 50px; height: 50px;" variant="light" icon="cart"></b-icon>
            <div class="count">{{ cartCount }}</div>
          </div>
        </div>
        <b-modal
          id="add-amount"
          size="lg"
          centered
          hide-footer
          hide-header
          class="modal-confrim"
        >
          <div class="add-amounte">
            <h4>Укажите количество</h4>
            <b-input v-model="amount" type="number" class="w-100"></b-input>
            <p v-if="error" style="font-size: 12px; color: red">К сожалению данного количества нет в наличии</p>
            <div class="d-flex justify-content-between mt-2 count-buttons">
              <b-button class="btn w-100 btn-custom-b" style="margin-right: 0.5em;" @click="amountUp">
                +
              </b-button>
              <b-button class="btn w-100 btn-custom-b" @click="amountDown">
                -
              </b-button>
            </div>
            <b-button @click="addBusket" class="btn mt-2 w-100 btn-custom-y">
              Добавить в корзину
            </b-button>
          </div>
        </b-modal>

        <b-col v-if="moreDetailArray.length > 0" cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="details-item py-2 px-2" v-for="(item, index) in moreDetailArray" :key="index">
            <b-row>
              <h4 class="s-name my-2  ">{{ item.article }}</h4>
            </b-row>
            <b-row class="d-flex justify-content-center">
              <img class="detail-img mb-3" :src="item.photo" alt="">
            </b-row>
            <b-row>
              <h4 class="detail-title">{{ item.name }}</h4>
            </b-row>
            <b-row>
              <p class="mb-0">Бренд: <span style="font-weight: bold;">{{ item.brand_name }}</span></p>
              <p style="text-align: right; font-size: 1.4em;" class="mb-0">Цена: <span style="font-weight: bold;">{{ numberWithCommas(item.price.seeprice) }} тг</span></p>
            </b-row>
            <b-row class="px-3">
              <b-button class="btn w-100 btn-custom-y" style="height: 50px" @click="addAmounty(item)"> <!--variant="primary" style="height: 50px" @click="addAmounty(item)"-->
                Выбрать
              </b-button>
            </b-row>
          </div>
        </b-col>
        <b-col v-if="moreDetailArray.length == 0" cols="12" class="col-12 col-md-8 col-lg-6 col-xl-6">
          <h4 class="text-center no-in-stock">Товара нет в наличии</h4>
          <button @click="goback" class="go-to-back">
            Назад
          </button>
        </b-col>
      </b-container>
    </transition>
  </div>
</template>

<script>
import Header from "./Header"
import Loading from "./Loading"
import Modal from "./Modal"
import axios from "axios";
export default {
  name: 'Prices',
  components: {
    Modal,
    Loading,
    Header
  },
  data() {
    return {
      is_loading: true,
      not_found: require('@/assets/not-found.png'),
      cartCount: localStorage.getItem("cartCount"),
      amount: 1,
      detailItem: {},
      error: false,
      moreDetailArray: []
    }
  },
  mounted() {
    if (!localStorage.getItem("cartCount")) {
      localStorage.setItem("cartCount", 0)
    }
    let params = new URLSearchParams()
    let config = {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }
    params.append("oemdetail", localStorage.getItem("OEM"))
    params.append("request_id", localStorage.getItem("request_id"))
    axios.post("https://api.toyo.kz/get/prices", params, config)
      .then(res => {
        for (let i = 0; i < res.data.length; i++) {
          if (res.data[i].photo == "") {
            res.data[i].photo = this.not_found
          }
        }
        this.is_loading = false;
        this.moreDetailArray = res.data

      })
      .catch(err => {
        console.log(err);
      })
  },
  methods: {
    numberWithCommas: function(x) {
      var parts = x.toString().split(" ");
      parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g," ");
      return parts.join(",");
    },
    addAmounty(item) {
      this.$bvModal.show('add-amount')
      this.detailItem = item;
      console.log(item);
    },
    amountUp() {
      this.amount++
    },
    amountDown() {
      if (this.amount <= 0) {
        this.amount = 0;
      } else {
        this.amount--;
      }
    },
    toBusket() {
      this.$router.push('/cart')
    },
    addBusket() {
      let config = {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      }
      let max = 0;
      let isYes = false;
      let isFirst = true;

      for (let j = 0; j < this.detailItem.quantityandstock.length; j++) {
        if (this.detailItem.quantityandstock[j].amount) {
          max = this.detailItem.quantityandstock[j].amount;
        }
      }

      for (let i = 0; i < this.detailItem.quantityandstock.length; i++) {
          if (max < this.amount) {
            this.error = true;
          }
          else if (this.detailItem.quantityandstock[i].stock == "50102" && this.detailItem.quantityandstock[i].amount > this.amount) {
            isYes = true;
            this.error = false;
          } else if ((this.detailItem.quantityandstock[i].amount > this.amount) && isFirst == true) {
            this.error = false;
            let params = new URLSearchParams()
            params.append("userid", parseInt(localStorage.getItem("userid")))
            params.append("article", this.detailItem.article)
            params.append("amount", this.amount)
            params.append("name", this.detailItem.name)
            params.append("brandname", this.detailItem.brand_name)
            params.append("photo", this.detailItem.photo)
            params.append("stock", this.detailItem.quantityandstock[i].stock)
            params.append("request_id", parseInt(localStorage.getItem("request_id")))
            params.append("costprice", this.detailItem.price.costprice)
            params.append("seeprice", this.detailItem.price.seeprice)
            isFirst = false
            axios.post("https://api.toyo.kz/busket/add", params, config)
            .then(res => {
              console.log(res)
              this.$bvModal.hide('add-amount')
              this.amount = 1;
              localStorage.setItem("cartCount", this.cartCount++)
            })
            .catch(err => {
              console.log(err);
            })
        }
      }

      if (isYes == true) {
        let params2 = new URLSearchParams()
        params2.append("userid", parseInt(localStorage.getItem("userid")))
        params2.append("article", this.detailItem.article)
        params2.append("amount", this.amount)
        params2.append("name", this.detailItem.name)
        params2.append("brandname", this.detailItem.brand_name)
        params2.append("photo", this.detailItem.photo)
        params2.append("stock", "50102")
        params2.append("request_id", parseInt(localStorage.getItem("request_id")))
        params2.append("costprice", this.detailItem.price.costprice)
        params2.append("seeprice", this.detailItem.price.seeprice)
        axios.post("https://api.toyo.kz/busket/add", params2, config)
        .then(res => {
          console.log(res)
          this.$bvModal.hide('add-amount')
          this.amount = 1;
          localStorage.setItem("cartCount", this.cartCount++)
        })
        .catch(err => {
          console.log(err);
        })
      }
    },
    goback() {
      this.$router.push('/list-details')
    }
  }
}
</script>

<style lang="scss">
.details-item {
  background: #e7e7e7;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  // padding: 10px 5px;
  margin-bottom: 10px;
  .detail-img {
    max-width: 100%;
    height: 13em;
    object-fit: cover;
  }
}


@media (max-width: 380px) {
  .detail-title {
    font-size: 18px;
  }
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #0d335d;
  cursor: pointer;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    .count {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #ffde59;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

.no-in-stock {
  font-size: 3em;
  margin: 4em 0 1.5em;
}
.go-to-back {
  margin: auto;
  display: block;
  background-color: rgb(13,51,93);
  color: white;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
}
.btn-custom-y {
  background-color: #ffde59;
  margin: 1em 0 0;
  color: black;
  border-color: #ffde59;
}
.btn-custom-b {
    color: #fff;
    background-color: #0D335D;
    border-color: #0D335D;
}
.btn-secondary {
  background-color: #ffde59;
  margin: 1em 0 0;
  color: black;
  border-color: #ffde59;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #0D335D;
    border-color: #0D335D;
}
.s-name {
  font-size: 1.6em;
}
</style>