<template>
  <div>
    <div v-for="(item, index) in data" :key="index">
      <b-link> {{ item.name }} </b-link>
      <Tree v-if="item.childGroups" :data="item.childGroups" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Tree",
  props: ["data"]
}
</script>